/*
 * Estilos de tu proyecto
 */
body{
	margin:0 auto;
	font-family: 'Ubuntu', sans-serif;

}

/*___Menú global_________________________________________________*/
#globalMenu{
	margin:0 auto;
	width: 100%;
	height: 65px;
	background-color: #FFC600;
	position: fixed;
	padding-left: 0;
	z-index: 3;
}	

/*Logo laboratoria*/
#logo{
	background-color: #FFF;
	width: 265px;
	height: 65px;
	margin-left: 0;
}

#globalMenu img{
	width: 190px;
	margin-left: 30px;
	vertical-align: middle;
}

#globalMenu li{
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
}

/*barra de búsqueda*/
#globalMenu input{
	margin-left: 1300px;
	width: 300px;
	border: none;
	border-radius: 10px;
	padding: 5px 0 5px 30px;
	background-image: url(../assets/images/search_icon.png);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

/*iconos menu superior*/
.icon-share2, .icon-download2, .icon-printer{
	margin: 10px;
	font-size: 1.1em;
}

/*___Sub Menu____________________________________________________*/

.dashboard{
	margin-left: 15%;
	margin-top: 30px;
	font-weight: 500;
	font-size: 1.3em;
	width: 100%;
	position:fixed;
	background-color: #FFF;
}

/*contenedor elementos de sub-menu*/
#subMenu{
	margin: 0 auto;
	top: 0;
	width: 100%;
	height: 40px;
	position: fixed;
	margin-top: 3%;
	background-color: #FFF;
}

/*elementos overview, sprints, students, teachers*/
div.tabs{
	margin: 0 auto;
	top: 0;
	overflow: hidden;
	display: inline-flex;
	margin-left: 14%;
	margin-top: 50px;
	background-color: #FFF;
	width: 87%;
}

div.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    padding: 14px 25px;
    transition: 0.3s;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    color: #2B2B2B;
}

div.tabs button:hover {
    background-color: #ddd;
}

div.tabs button.active {
    background-color: #ccc;
}



/*___menú lateral__________________________________________________*/
#lateralMenu{
	width: 13%;
	height: 100%;
	background-color: #FFC600;
	padding-top: 80px;
	position:fixed;
	z-index: 2;
	font-size:1.3em;
}

/*foto usuario*/
#photouser{
	display: inline-block;
}
/*foto de perfil*/
#photouser img{
	width: 90px;
	margin: 20px;
}
/*nombre y cargo de usuario*/
#nameuser{
	display: inline-block;
}

/*lista para filtrar*/

#lateralMenu nav{
	position:relative;
}

#filter{
	list-style-type: none;
	padding-left: 15px;
}

#filter li{
	margin: 5px;
	padding: 10px;
}

/*icono home*/

.icon-home{
	margin-right: 10px;
}

/*input radio*/
#filter input[type=radio]{
	transform: scale(1.5);
}

/*icono de configuración*/
#bottom{
	position:absolute;
	bottom: 80px;
	margin: 20px;
}

/*icono para ocultar menu lateral*/
.icon-eye-blocked{
	margin-left: 180px;
}

/*___Secciones-graficos_____________________________________________*/

#secciones{
	width: 82%;
	height: auto;
	margin-left: 14%;
    display: inline-block;
    margin-top: 10%
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border: none;
}

/*Graficos de overview_____________*/

/*primera fila*/
#firstRow{
	display: block;
}

/*alumnas inscritas*/
#grafico1{
	float: left;
    border-radius: 50%;
    height: 320px;
    width: 320px;
    background-color: #026475;
    margin-top: 35px;
    margin-left: 40px;
}

#grafico1 p{
	font-size: 1.3em;
	font-weight: 500;
	color: #E4E4E4;	
	margin-left: 120px;
	margin-top: 100px;
}

#grafico1 p:last-child{
	font-size: 3em;
	color: #FFF;
	margin:0;
	margin-left: 130px;
}

/*deserciones y activas*/
#grafico2{
	float:left;
}

#grafico2 img{
    width: 550px;
    margin-top: 30px;
    margin-left: 150px;   
}

/*logro*/
#achievement{
	width: 140px;
	display: inline-block;
	margin-left: 10%;
	margin-top: 30px;
}

/*segunda fila*/
#secondRow{
	display: block;
}

/*habilidades tecnicas*/
#techSkills{
	width: 100px;
	display: inline-block;
	margin-left: 20%;
	margin-top: 50px;
}

/*tercera fila*/
#thirdhRow{
	display: block;
}

/*HSE*/
#lifeSkills{
	width: 100px;
	margin-left: 20%;
	margin-top: 80px;
}

/*cuarta fila*/
#fourthRow{
	display: block;
	margin-top: 80px;
}

/*NPS*/
#NPS{
	width: 140px;
	display: inline-block;
	
	vertical-align: top;
}

/*satisfaccion de estudiantes*/
#studentSatisfaction{
	width: 140px;
	display: inline-block;
	vertical-align: top;
	margin-left: 280px;
}

/*calificacion profesores*/
#teacherRating{
	width: 140px;
	display: inline-block;
	vertical-align: top;
	margin-left: 290px;
}

/*calificacion jedi master*/
#jediRating{
	width: 140px;
	display: inline-block;
	vertical-align: top;
	margin-left: 310px;
}


    /*
    margin: -3em 21em;
}
.ntecnico {
	border: solid black;
    height: 205px;
    width: 410px;
    margin: 13em -2em;
    opacity: 0.5
}
.linea1 {
	margin: -11em 13em;
	font-size: 12px;
}

.linea2 {
	margin: -11em 13em;
	font-size: 12px;
}
.linea3 {
	margin: -11em 13em;
	font-size: 12px;
}


.a {
	margin-top: 12px;
	margin-left: 12px;
}
.b {
	margin-top: 12px;
	margin-left: 12px;
}
.c {
	margin-top: 12px;
	margin-left: 12px;
}

/*_______Seccion estudiantes____________________________*/

.menu{
	float:left;
	width: 300px;	
	font-size: 1.3em;
	margin: 10px;
}

.menu input[type=checkbox]{
	transform: scale(1.5);
  	padding: 10px;
  	margin: 10px 20px 10px 5px;
}

.menu p{
	 font-size: 1.4em;
    font-weight: 500;
    margin-top: -140px;
    margin-left: 4px;
}

.perfil{
	float:left;
}

.perfil img{
	width: 150px;
	float: left;
	margin-top: 30px;
	margin-left: 50px;
}

.perfil p{
	display: inline-block;

}


#foto1 {
    display: inline-block;
    width: 370px;
    height: 292px;
    margin-top: 82px;
    margin-left: -18px;
    border: 1px solid #ccc;
}
#foto1 img {
	height: 133px;
    width: 133px;
    margin-top: 12px;
    margin-left: 12px;

}
#foto1 {
    display: block;
    width: 370px;
    height: 292px;
    margin-top: 82px;
    margin-left: -18px;
    border: 1px solid #ccc;
}


#foto2 img {
	height: 133px;
    width: 133px;
    margin-top: 12px;
    margin-left: 12px;

    }
  #foto2 {
    display: block;
    width: 370px;
    height: 292px;
    margin-top: 82px;
    margin-left: -18px;
    border: 1px solid #ccc;
}

 #foto3 img {
	height: 133px;
    width: 133px;
    margin-top: 12px;
    margin-left: 12px;

}
#foto3 {
     display: block;
    width: 370px;
    height: 292px;
      margin-top: -665px;
    margin-left: 560px;
    border: 1px solid #ccc;
}
 #foto4 img {
	height: 133px;
    width: 133px;
    margin-top: 12px;
    margin-left: 12px;
 }
#foto4 {
    display: block;
    width: 370px;
    height: 292px;
    margin-top: 80px;
    margin-left: 560px;
    border: 1px solid #ccc;
}

#descarga 
{
    margin-top: 37px;
    margin-left: 686px;
}

#submenuStudents {
    counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 27px;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#submenuStudents ol {
    margin: 0 0 0 2em; 
}

#submenuStudents li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}

#SubmenuStudents li:hover{
    background: #eee;
}

#submenuStudents li:hover:before{
    transform: rotate(360deg);  
}

#submenuStudents li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: gold;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.c1 {
     width: 100px;
    height: 100px;
    border: 7px solid #CA0;
    margin-top: 12px;
    margin-left: 12px;
    display: inline;
    float: left;
    border-radius: 60px
}
.c2 {
     width: 100px; 
     height: 100px; 
     border: 7px solid #CA0;   
     margin-left: 12px;
     margin-top:12px;
     display: inline;
     float: left;
     border-radius: 60px;
}
.c3{
	 width: 100px; 
     height: 100px; 
     border: 7px solid #CA0;
     margin-left: 12px;
     margin-top:12px;
     display: inline;
     float: left;
     border-radius: 60px;
}

.c4 {
     width: 100px;
    height: 100px;
    border: 3px solid #CA0;
    margin-top: 12px;
    margin-left: 12px;
    display: inline;
    float: left;
    border-radius: 60px
}
.c5 {
     width: 100px; 
     height: 100px; 
     border: 3px solid #CA0;   
     margin-left: 12px;
     margin-top:12px;
     display: inline;
     float: left;
     border-radius: 60px;
}
.c6{
	 width: 100px; 
     height: 100px; 
     border: 3px solid #CA0;
     margin-left: 12px;
     margin-top:12px;
     display: inline;
     float: left;
     border-radius: 60px;
}