/*
 * Estilos de tu proyecto
 */
body{
	margin:0 auto;
	font-family: 'Ubuntu', sans-serif;

}

/*___Menú global_________________________________________________*/
#globalMenu{
	margin:0 auto;
	width: 100%;
	height: 60px;
	background-color: #FFC600;
	position: fixed;
	padding-left: 0;
	z-index: 2;
}	

/*Logo laboratoria*/
#logo{
	background-color: #FFF;
	width: 250px;
	height: 60px;
	margin-left: 0;
}

#globalMenu img{
	width: 180px;
	margin-left: 30px;
	vertical-align: middle;
}

#globalMenu li{
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
}

/*barra de búsqueda*/
#globalMenu input{
	margin-left: 1200px;
	width: 300px;
	border: none;
	border-radius: 10px;
	padding: 5px 0 5px 30px;
	background-image: url(../assets/images/search_icon.png);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

/*iconos menu superior*/
.icon-share2, .icon-download2, .icon-printer{
	margin: 10px;
	font-size: 1.1em;
}

/*___Sub Menu____________________________________________________*/

.dashboard{
	margin-left: 17%;
	margin-top: 10px;
	font-weight: 500;
}

#subMenu{
	margin: 0 auto;
	width: 87%;
	height: 40px;
	position: fixed;
	margin-top: 4%;
}

div.tabs{
	overflow: hidden;
	display: inline-flex;
	margin-left: 16%;
}

div.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

div.tabs button:hover {
    background-color: #ddd;
}

div.tabs button.active {
    background-color: #ccc;
}



/*___menú lateral__________________________________________________*/
#lateralMenu{
	width: 13%;
	height: 100%;
	background-color: #FFC600;
	padding-top: 80px;
	position:fixed;
	z-index: 1;
	font-size:1.1em;
}

/*foto usuario*/
#lateralMenu img{
	width: 80px;
	margin: 20px;
}

/*lista para filtrar*/

#lateralMenu nav{
	position:relative;
}

#filter{
	list-style-type: none;
	padding-left: 15px;
}

#filter li{
	margin: 5px;
	padding: 10px;
}

/*icono home*/

.icon-home{
	margin-right: 10px;
}

/*icono para desplegar filtros*/
.fa-caret-down{
	float:right;
}

#bottom{
	position:absolute;
	bottom: 80px;
	margin: 20px;
}

.icon-eye-blocked{
	margin-left: 180px;
}

/* Agregando Graficos*/
#grafico1{
	display: inline-flex;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    border: 17px solid #6495ED;
    margin-top: 2.5%;
    text-align: center;
}

.total{
	text-align: center;
	font-size: 1.8em;
	font-weight: 600;
	margin: 10px;
}

.g1{
	display: inline-flex;
   	margin-left: 150px;
    margin-top: 8px;
    font-weight: 500;
}

#grafico2{
	display: inline-flex;
	border-radius: 50%;
    height: 90px;
    width: 90px;
    border: 17px solid #6495ED;
    margin-left: 13%;
}

.g2{
	display: inline-flex;
   	margin-left: 150px;
    margin-top: 8px;
    font-weight: 500;
}


    /*
    margin: -3em 21em;
}
.ntecnico {
	border: solid black;
    height: 205px;
    width: 410px;
    margin: 13em -2em;
    opacity: 0.5
}
.linea1 {
	margin: -11em 13em;
	font-size: 12px;
}

.linea2 {
	margin: -11em 13em;
	font-size: 12px;
}
.linea3 {
	margin: -11em 13em;
	font-size: 12px;
}


.a {
	margin-top: 12px;
	margin-left: 12px;
}
.b {
	margin-top: 12px;
	margin-left: 12px;
}
.c {
	margin-top: 12px;
	margin-left: 12px;
}

/*___Secciones-graficos_____________________________________________*/

#secciones{
	width: 82%;
	height: auto;
	margin-left: 14%;
    display: inline-block;
    margin-top: 10%
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border: none;
}

