/*
 * Estilos de tu proyecto
 */
body{
	margin:0 auto;
	font-family: 'Ubuntu', sans-serif;

}

/*___Menú global_________________________________________________*/
#globalMenu{
	margin:0 auto;
	width: 100%;
	height: 65px;
	background-color: #FFC600;
	position: fixed;
	padding-left: 0;
	z-index: 2;
}	

/*Logo laboratoria*/
#logo{
	background-color: #FFF;
	width: 265px;
	height: 65px;
	margin-left: 0;
}

#globalMenu img{
	width: 190px;
	margin-left: 30px;
	vertical-align: middle;
}

#globalMenu li{
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
}

/*barra de búsqueda*/
#globalMenu input{
	margin-left: 1300px;
	width: 300px;
	border: none;
	border-radius: 10px;
	padding: 5px 0 5px 30px;
	background-image: url(../assets/images/search_icon.png);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

/*iconos menu superior*/
.icon-share2, .icon-download2, .icon-printer{
	margin: 10px;
	font-size: 1.1em;
}

/*___Sub Menu____________________________________________________*/

.dashboard{
	margin-left: 17%;
	margin-top: 10px;
	font-weight: 500;
	font-size: 1.3em;
}

#subMenu{
	margin: 0 auto;
	width: 87%;
	height: 40px;
	position: fixed;
	margin-top: 4%;
}

div.tabs{
	overflow: hidden;
	display: inline-flex;
	margin-left: 16%;
}

div.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    padding: 14px 25px;
    transition: 0.3s;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    color: #2B2B2B;
}

div.tabs button:hover {
    background-color: #ddd;
}

div.tabs button.active {
    background-color: #ccc;
}



/*___menú lateral__________________________________________________*/
#lateralMenu{
	width: 13%;
	height: 100%;
	background-color: #FFC600;
	padding-top: 80px;
	position:fixed;
	z-index: 1;
	font-size:1.3em;
}

/*foto usuario*/
#photouser{
	display: inline-block;
}

#photouser img{
	width: 90px;
	margin: 20px;
}

#nameuser{
	display: inline-block;
}

/*lista para filtrar*/

#lateralMenu nav{
	position:relative;
}

#filter{
	list-style-type: none;
	padding-left: 15px;
}

#filter li{
	margin: 5px;
	padding: 10px;
}

/*icono home*/

.icon-home{
	margin-right: 10px;
}

/*icono para desplegar filtros*/
.fa-caret-down{
	float:right;
}

/*input radio*/
#filter input[type=radio]{
	transform: scale(1.5);
}

#bottom{
	position:absolute;
	bottom: 80px;
	margin: 20px;
}

.icon-eye-blocked{
	margin-left: 180px;
}

/* Agregando Graficos*/
#grafico1{
	float: left;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    background-color: #026475;
    margin-top: 30px;
    margin-left: 50px;
    position:relative;
}

#grafico1 p{
	position:absolute;
	margin: 120px;
	padding: 20px;
	font-size: 1.3em;
	font-weight: 500;
	color: #E4E4E4;
}

#grafico1 p:last-child{
	font-size: 3em;
	margin-left: 130px;
	color: #FFF;
}

.total{
	text-align: center;
	font-size: 1.8em;
	font-weight: 600;
	margin: 10px;
}

#grafico2{
	float:left;

}

#grafico2 img{
    width: 600px;
    margin-top: 30px;
    margin-left: 150px;
    
}

.g2{
	display: inline-flex;
   	margin-left: 150px;
    margin-top: 8px;
    font-weight: 500;
}


    /*
    margin: -3em 21em;
}
.ntecnico {
	border: solid black;
    height: 205px;
    width: 410px;
    margin: 13em -2em;
    opacity: 0.5
}
.linea1 {
	margin: -11em 13em;
	font-size: 12px;
}

.linea2 {
	margin: -11em 13em;
	font-size: 12px;
}
.linea3 {
	margin: -11em 13em;
	font-size: 12px;
}


.a {
	margin-top: 12px;
	margin-left: 12px;
}
.b {
	margin-top: 12px;
	margin-left: 12px;
}
.c {
	margin-top: 12px;
	margin-left: 12px;
}

/*___Secciones-graficos_____________________________________________*/

#secciones{
	width: 82%;
	height: auto;
	margin-left: 14%;
    display: inline-block;
    margin-top: 10%
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border: none;
}

/*_______Seccion estudiantes____________________________*/

.menu{
	float:left;
	width: 300px;	
	font-size: 1.3em;
	margin: 10px;
}

.menu input[type=checkbox]{
	transform: scale(1.5);
  	padding: 10px;
  	margin: 10px 20px 10px 5px;
}

.menu p{
	 font-size: 1.4em;
    font-weight: 500;
    margin-top: -140px;
    margin-left: 4px;
}

.perfil{
	float:left;
}

.perfil img{
	width: 150px;
	float: left;
	margin-top: 30px;
	margin-left: 50px;
}

.perfil p{
	display: inline-block;

}


#foto1 {
    display: inline-block;
    width: 370px;
    height: 292px;
    margin-top: 82px;
    margin-left: -18px;
    border: 1px solid #ccc;
}
#foto1 img {
	height: 133px;
    width: 133px;
    margin-top: 12px;
    margin-left: 12px;

}
.p4 {
	font-size: 12px;
	margin-top: 12px;
	margin-left: 12px;
}
.p5 {
	
	font-size: 12px;
	margin-top: 12px;
	margin-left: 12px;
}