/*
 * Estilos de tu proyecto
 */
body{
	margin:0 auto;
	font-family: 'Ubuntu', sans-serif;

}

/*Menú global*/
#globalMenu{
	margin:0 auto;
	width: 100%;
	height: 60px;
	background-color: #FFD800;
	position: fixed;
	padding-left: 0;
	z-index: 2;
}	

#logo{
	background-color: #FFF;
	width: 250px;
	margin-left: 0;
}

#globalMenu img{
	width: 180px;
	margin-left: 30px;
	vertical-align: middle;

}

#globalMenu li{
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;

}

#globalMenu input{
	margin-left: 1200px;
	width: 300px;
	border: none;
	border-radius: 10px;
	padding: 5px 0 5px 30px;
}

/*menú lateral*/

#lateralMenu{
	width: 250px;
	height: 100%;
	background-color: #FFD800;
	padding-top: 80px;
	position:fixed;
	z-index: 1;
}

/*foto usuario*/
#lateralMenu img{
	width: 80px;
	margin: 20px;
}

/*lista para filtrar*/
#filter{
	list-style-type: none;
	padding-left: 15px;
}

#filter li{
	margin: 5px;
	padding: 10px;
}
